.mroctopus {
	
}

#octopus {
	position: absolute; z-index: 1;
	display: block; 
   width: 100px; 
   height: 100px;  
   margin-left: 50%;   
   color: blue;
   margin-top: 9%
}
#glasses {
	position: absolute; z-index: 3; 
	display: block; 
   width: 100px; 
   height: 100px;  
   margin-left: 54%;   
   color: blue;
   margin-top: 19%

}
#hat {
	position: absolute; z-index: 2;
	top: 2px;
	margin-left: 49%
}